{% extends "::base2.html.twig" %}

{% block title %}Commentaires | Administration{% endblock %}

{% block body %}
    <h3>Liste des commentaires</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th>Article</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.auteur }}</td>
                <td>{{ commentaire.commentaire }}</td>
                <td>{{ commentaire.animal.titre }}</td>
                <td>{{ commentaire.date|date('d/m/Y', "Europe/Paris") }} à {{ commentaire.date|date('H:i', "Europe/Paris") }}</td>
                <td>
                    <a href="{{ path('commentaires_delete', { 'id': commentaire.id }) }}"><i class="fa fa-trash"></i>&nbsp;supprimer</a>&nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>


{% endblock %}
