{% extends "blogBundle::layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}


{% block sdzblog_body %}

<h2>Liste des articles</h2>

<ul>

{% for article in articles %}

<li>

<a href="{{ path ('sdzblog_voir', {'id': article.id}) }}">{{ article.titre}}</a> écrit par {{ article.auteur}} le {{ article.date|date('d/m/Y') }}
<div>{{ article.contenu }}</div>

</li>

{% else %}

<li>Pas encore d'articles</li>

{% endfor %}

</ul>


{% endblock %}
