{% extends "::base2.html.twig" %}

{% block title %}Contact - {{parent()}}{% endblock %}

{% block body %}
    
<div class="wrap" style="padding-bottom:70px">

<h1 class="index">Contact</h1>

<form method="post" action="{{ path("contact") }}" {{ form_enctype(form) }}>

    {{ form_row(form.nom, { 'attr': {'class': 'form-titre'} }) }}
    {{ form_errors(form.nom) }}

    {{ form_row(form.email, { 'attr': {'class': 'form-titre'} }) }}
    {{ form_errors(form.email) }}

    {{ form_row(form.telephone, { 'attr': {'class': 'form-titre'} }) }}
    {{ form_errors(form.telephone) }}

    <label for="objet">Objet</label>
    <select name="objet" class="form-titre">
        <option>Renseignement</option>
        <option>Nouveau projet</option>
    </select>

    {{ form_row(form.texte, { 'attr': {'class': 'form-description'} }) }}
    {{ form_errors(form.texte) }}

    {{ form_rest(form) }}
    
    <button type="submit" class="btn btn-primary bouton pull-right">Envoyer</button>

</form>

</div>
                

{% endblock %}
